<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Sparrow</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>document.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>message/rfc822</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>eml</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sparrowdb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Sparrow-database.icns</string>
			<key>CFBundleTypeName</key>
			<string>database</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sparrowlicense</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Sparrow-license.icns</string>
			<key>CFBundleTypeName</key>
			<string>license</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>other</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Sparrow</string>
	<key>CFBundleIconFile</key>
	<string>Sparrow.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.sparrowmailapp.sparrowappcast</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sparrow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>mailto</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mailto</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>x-sparrow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-sparrow</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>message</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>message</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1164</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11D50a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.5</string>
		<key>ppc</key>
		<string>10.5</string>
		<key>ppc64</key>
		<string>10.6</string>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>LSUIElement</key>
	<false/>
	<key>MailLinkSupported</key>
	<true/>
	<key>MailPageSupported</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Sparrow.</string>
	<key>NSMainNibFile</key>
	<string>MMMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>MMScptApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Mail/New Email With Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>mailSelection</string>
			<key>NSPortName</key>
			<string>Sparrow</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
				<string>Apple Web Archive pasteboard type</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>Sparrow.sdef</string>
	<key>SUAllowsAutomaticUpdates</key>
	<string>YES</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUEnableSystemProfiling</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>http://download.sparrowmailapp.com/appcast/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<string>43200</string>
</dict>
</plist>
