<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>AvatarFotopedia.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?fotopedia\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarStumbleupon.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?stumbleupon\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarBallpark.png</string>
		<key>email-match</key>
		<array>
			<string>notifications@ballparkapp\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarWordpress.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?wordpress\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarTumblr.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?tumblr\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarSourceforge.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?sourceforge\.net</string>
			<string>.*@(.*\.)?sf\.net</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarGetflow.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?getflow\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarCraigslist.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?craigslist.org</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>Avatar37signals.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?37signals\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarGCalendar.png</string>
		<key>email-match</key>
		<array>
			<string>calendar\-notification@google\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarGoogleplus.png</string>
		<key>email-match</key>
		<array>
			<string>.*@plus\.google\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarGoogleapp.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?google\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarGithub.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?github\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarFlickr.png</string>
		<key>email-match</key>
		<array>
			<string>.*@flickr\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarTwitter.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?twitter\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarQuora.png</string>
		<key>email-match</key>
		<array>
			<string>.*@quora\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarFacebook.png</string>
		<key>email-match</key>
		<array>
			<string>.*@fb\.com</string>
			<string>.*@facebook\.com</string>
			<string>.*@facebookmail\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarPicplz.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?picplz\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarYoutube.png</string>
		<key>email-match</key>
		<array>
			<string>.*@youtube\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarLinkedin.png</string>
		<key>email-match</key>
		<array>
			<string>.*@linkedin\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarFormspring.png</string>
		<key>email-match</key>
		<array>
			<string>.*@formspring\.me</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarPaypal.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?paypal\..*</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarAmazon.png</string>
		<key>email-match</key>
		<array>
			<string>.*@amazon\..*</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarPath.png</string>
		<key>email-match</key>
		<array>
			<string>.*@path\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarDribbble.png</string>
		<key>email-match</key>
		<array>
			<string>.*@dribbble\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarFoursquare.png</string>
		<key>email-match</key>
		<array>
			<string>.*@foursquare\..*</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarDigg.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?digg\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarStumbleUpon.png</string>
		<key>email-match</key>
		<array>
			<string>.*@stumbleupon\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarDropbox.png</string>
		<key>email-match</key>
		<array>
			<string>.*@dropbox\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarGowalla.png</string>
		<key>email-match</key>
		<array>
			<string>.*@gowalla\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarMacthemes.png</string>
		<key>email-match</key>
		<array>
			<string>.*@macthemes2\.net</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarZerply.png</string>
		<key>email-match</key>
		<array>
			<string>.*@zerply\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarGetsatisfaction.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?getsatisfaction\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarTenderapp.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?tenderapp\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarGroupon.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?groupon\..*</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarSparrow.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?sparrowmailapp\.com</string>
			<string>.*@(.*\.)?etpan\.org</string>
			<string>.*@(.*\.)?sparrowapp\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarPanic.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?panic\.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>AvatarVimeo.png</string>
		<key>email-match</key>
		<array>
			<string>.*@(.*\.)?vimeo\.com</string>
		</array>
	</dict>
</array>
</plist>
