<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>388819</string>
	<string>292758</string>
	<string>aa8f48</string>
	<string>562cac</string>
	<string>803634</string>
	<string>37b1a4</string>
	<string>be6f20</string>
</array>
</plist>
